.LandingPage {
    
    .align-center;
    height: 100vh;
    overflow-y: scroll;
    background-image: url('/images/foundation.jpg');
    background-color: @white;

    .shade {
        background-color: fade(@dark-gray, 40%);
        height: 100vh;
        width: 100vw;
        position: fixed;
        z-index: 0;
        top: 0;
    }
    section {
        height: @sectionHeight;
    }
}
