.TeamPage {
    .align-center;
    height: 100vh;
    overflow-y: scroll;
    background-color: @gray;
    section {
        height: @sectionHeight;
        .align-center;
    }
}

@media screen and (min-width: @sm) {
    .TeamPage {
        
    }
}